<% content_for(:title) { "Competitions" } %>

<% content_for(:desktop_version_url) { "http://www.cubecomps.com/?desktop=1" } %>

<% cache @competitions, expires_in: 5.minutes, race_condition_ttl: 10 do %>
  <%= content_tag :ul, data: { role: "listview", generated_at: Time.now.to_s(:db) } do %>
    <li data-role="list-divider">Competitions in progress</li>
    <% @competitions.in_progress.each do |competition| %>
      <li><%= link_to competition.name, competition_events_path(competition), data: { ajax: false } %></li>
    <% end %>
    <% if @competitions.in_progress.empty? %>
      <li><em class="muted">No competitions in progress (yet!)</em></li>
    <% end %>
    <li data-role="list-divider">Past competitions</li>
    <% @competitions.past.first(10).each do |competition| %>
      <li><%= link_to competition.name, competition_events_path(competition), data: { ajax: false } %></li>
    <% end %>
    <% if @competitions.past.empty? %>
      <li><em class="muted">No past competitions (yet!)</em></li>
    <% else %>
      <li>
        <%= link_to past_competitions_path, data: { ajax: false } do %>
          <em>See more past competitions...</em>
        <% end %>
      </li>
    <% end %>
    <li data-role="list-divider">Upcoming competitions</li>
    <% @competitions.upcoming.each do |competition| %>
      <li><%= link_to competition.name, competition_events_path(competition), data: { ajax: false } %></li>
    <% end %>
    <% if @competitions.upcoming.empty? %>
      <li><em class="muted">No upcoming competitions (yet!)</em></li>
    <% end %>
  <% end %>
<% end %>
