<% content_for(:back_button) do %>
  <%= link_to "Back", competitions_path, data: { ajax: false, icon: "back" } %>
<% end %>

<% content_for(:title) do %>
  <% ccm_cache [@competition, "name"], competition_id: @competition.id, expires_in: 1.hour do %>
    <%= @competition.name.html_safe %>
  <% end %>
<% end %>

<% content_for(:navbar) do %>
  <ul>
    <li><%= link_to "Events",      competition_events_path(@competition),      data: { ajax: false, icon: "bars"  } %></li>
    <li><%= link_to "Competitors", competition_competitors_path(@competition), data: { ajax: false, icon: "user"  } %></li>
    <li><%= link_to "Schedule",    competition_schedule_path(@competition),    data: { ajax: false, icon: "clock" }, class: "ui-btn-active" %></li>
  </ul>
<% end %>

<% content_for(:desktop_version_url) { "http://www.cubecomps.com/live.php?cid=#{@competition.id}&desktop=1" } %>

<% ccm_cache [@competition, "schedule"], competition_id: @competition.id, expires_in: 1.hour do %>
  <% if @competition.schedule.any? %>
    <% @competition.schedule.group_by { |row| row.start.to_date }.each do |date, rows| %>
      <h2><%= date.to_s(:long) %></h2>

      <%= content_tag :table, class: "schedule-table table-stripe", data: { role: "table", mode: "reflow", generated_at: Time.now.to_s(:db) } do %>
        <thead>
          <tr>
            <th class="hour">Hour</th>
            <th class="event">Event</th>
            <th class="round">Round</th>
            <th class="extra_info">Extra info</th>
          </tr>
        </thead>

        <tbody>
          <% rows.sort_by { |row| [row.start, row.end] }.each do |row| %>
            <tr>
              <td class="hour">
                <%= row.formatted_start %>
                -
                <%= row.formatted_end %>
              </td>
              <td class="event">
                <%= row.alternate_text.presence || row.event %>
              </td>
              <td class="round">
                <% round = Round.new(competition_id: @competition.id, event_id: row.event_id, id: row.round_id) %>
                <%= link_to_if round.started?, row.round_name, competition_event_round_results_path(@competition, row.event_id, row.round_id) if row.round_name.present? %>
              </td>
              <td class="extra_info">
                <% if row.extra_info.present? %>
                  <em class="muted"><%= row.extra_info %></em>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    <% end %>
  <% else %>
    <p>No available schedule (yet!)</p>
  <% end %>
<% end %>
