<% content_for(:back_button) do %>
  <%= link_to "Back", competitions_path, data: { icon: "back" } %>
<% end %>

<% content_for(:title) do %>
  Loading...
<% end %>

<% content_for(:navbar) do %>
  <ul>
    <li><%= link_to "Events",      competition_events_path(@competition),      data: { icon: "bars"  } %></li>
    <li><%= link_to "Competitors", competition_competitors_path(@competition), data: { icon: "user"  } %></li>
    <li><%= link_to "Schedule",    competition_schedule_path(@competition),    data: { icon: "clock" }, class: "ui-btn-active" %></li>
  </ul>
<% end %>

<% content_for(:desktop_version_url) { "http://www.cubecomps.com/live.php?cid=#{@competition.id}&desktop=1" } %>

<script id="schedule-day-template" type="text/x-handlebars-template">
  <h3>{{day}}</h3>

  <table class="schedule-table table-stripe" data-role="table" data-mode="reflow">
    <thead>
      <tr>
        <th class="hour">Hour</th>
        <th class="event">Event</th>
        <th class="round">Round</th>
        <th class="extra_info">Extra info</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
        <tr>
          <td class="hour">
            {{formatted_start}}
            -
            {{formatted_end}}
          </td>
          <td class="event">
            {{#if alternate_text}}
              {{alternate_text}}
            {{else}}
              {{event_name}}
            {{/if}}
          </td>
          <td class="round">
            {{#if round_name}}
              {{#if round_started}}
                <a href="/competitions/{{competition_id}}/events/{{event_id}}/rounds/{{round_id}}/results">{{round_name}}</a>
              {{else}}
                {{round_name}}
              {{/if}}
            {{/if}}
          </td>
          <td class="extra_info">
            {{#if extra_info}}
              <em class="muted">{{extra_info}}</em>
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</script>

<script id="schedule-template" type="text/x-handlebars-template">
  <h2>{{city}} ({{country}})</h2>

  <div class="schedule-days-region">
  </div>
</script>

<div id="schedule-region" data-competition-id="<%= @competition.id %>">
  <div style="height: 2000px"></div>
</div>
