<tr>
  <td class="number"><%= result.position %></td>
  <td><%= link_to truncate(result.name, length: 24), "#result_#{round.competition_id}_#{round.event_id}_#{round.id}_#{result_counter}", data: { rel: "popup", position_to: "window" } %></td>
  <td><%= result.country %></td>
  <% (1..5).each do |i| %>
    <% if round.results.send("t#{i}?") %>
      <td class="number"><%= result.send("t#{i}") %></td>
    <% end %>
  <% end %>
  <% if round.results.average? %>
    <td class="number">
      <% if result.average_record.present? %>
        (<%= result.average_record %>)
      <% end %>
      <%= result.average %>
    </td>
  <% end %>
  <% if round.results.mean? %>
    <td class="number">
      <% if result.mean_record.present? %>
        (<%= result.mean_record %>)
      <% end %>
      <%= result.mean %>
    </td>
  <% end %>
  <% if round.results.best? %>
    <td class="number">
      <% if result.best_record.present? %>
        (<%= result.best_record %>)
      <% end %>
      <%= result.best %>
    </td>
  <% end %>
</tr>
