<% content_for(:back_button) do %>
 <%= link_to "Back", competition_categories_path(@round.competition_id), data: { icon: "back" } %>
<% end %>

<% content_for(:title) do %>
  <% cache [@round, "competition_name"] do %>
    <%= @round.competition_name %>
  <% end %>
<% end %>

<% content_for(:navbar) do %>
  <ul>
    <li><%= link_to "Categories",  competition_categories_path(@round.competition_id),  data: { ajax: false, icon: "bars"  }, class: "ui-btn-active" %></li>
    <li><%= link_to "Competitors", competition_competitors_path(@round.competition_id), data: { ajax: false, icon: "user"  } %></li>
    <li><%= link_to "Schedule",    competition_schedule_path(@round.competition_id),    data: { ajax: false, icon: "clock" } %></li>
  </ul>
<% end %>

<% content_for(:desktop_version_url) { "http://www.cubecomps.com/live.php?cid=#{@round.competition_id}&cat=#{@round.category_id}&rnd=#{@round.id}&desktop=1" } %>

<% cache [@round, "results"], expires_in: 5.minutes, race_condition_ttl: 10 do %>
  <h2><%= @round.category_name %> - <%= @round.name %></h2>

  <%= content_tag :table, id: "results", class: "results-table table-stripe", data: { role: "table", mode: "columntoggle", generated_at: Time.now.to_s(:db) } do %>
    <thead>
      <tr>
        <th class="number">#</th>
        <th>Name</th>
        <th data-priority="3">Country</th>
        <% (1..5).each do |i| %>
          <% if @round.results.send("t#{i}?") %>
            <th class="number" data-priority="2">T<%= i %></th>
          <% end %>
        <% end %>
        <% if @round.results.average? %>
          <th class="number" data-priority="1">Average</th>
        <% end %>
        <% if @round.results.mean? %>
          <th class="number" data-priority="1">Mean</th>
        <% end %>
        <% if @round.results.best? %>
          <th class="number" data-priority="1">Best</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @round.results.each_with_index do |result, idx| %>
        <%= render partial: "row", object: result, as: :result, locals: { round: @round, result_counter: idx } %>
      <% end %>
    </tbody>
  <% end %>

  <% @round.results.each_with_index do |result, idx| %>
    <%= render partial: "more_info", object: result, as: :result, locals: { round: @round, result_counter: idx } %>
  <% end %>
<% end %>
