<% content_for(:back_button) { link_to "Back", competition_categories_path(@round.competition_id), data: { icon: "back" } } %>
<% content_for(:title) { "Results" } %>

<% content_for(:extra_pages) do %>
  <% cache [@round, "results", "extra_pages"], expires_in: 5.minutes, race_condition_ttl: 10 do %>
    <% @round.results.each_with_index do |result, idx| %>
      <%= content_tag :div, id: ["result", @round.competition_id, @round.category_id, @round.id, idx].join("_"), data: { role: "page", generated_at: Time.now.to_s(:db) } do %>
        <div data-role="header">
          <h2><%= result.name %></h2>
        </div>

        <div data-role="content">
          <p>
            <strong>Country</strong><br/>
            <%= result.country %>
          </p>
          <p>
            <strong>Average</strong><br/>
              <% if result.average_record.present? %>
                (<%= result.average_record %>)
              <% end %>
              <%= result.average %>
          </p>
          <p>
            <strong>Best</strong><br/>
              <% if result.best_record.present? %>
                (<%= result.best_record %>)
              <% end %>
              <%= result.best %>
          </p>
          <p>
            <strong>Times</strong><br/>
            <%= [ result.t1, result.t2, result.t3, result.t4, result.t5 ].join(", ") %>
          </p>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<table data-role="table" data-mode="reflow" class="results-table table-stripe">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Average</th>
      <th>Best</th>
    </tr>
  </thead>
  <tbody>
    <% cache [@round, "results"], expires_in: 5.minutes, race_condition_ttl: 10 do %>
      <% @round.results.each_with_index do |result, idx| %>
        <%= content_tag :tr, data: { generated_at: Time.now.to_s(:db) } do %>
          <td class="number"><%= result.position %></td>
          <td><%= link_to truncate(result.name, length: 25), "#result_#{@round.competition_id}_#{@round.category_id}_#{@round.id}_#{idx}", data: { rel: "dialog" } %></td>
          <td class="number">
            <% if result.average_record.present? %>
              (<%= result.average_record %>)
            <% end %>
            <%= result.average %>
          </td>
          <td class="number">
            <% if result.best_record.present? %>
              (<%= result.best_record %>)
            <% end %>
            <%= result.best %>
          </td>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
