<% content_for(:title) { "Results" } %>

<table data-role="table" data-mode="reflow" class="ui-responsive table-stripe">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Country</th>
      <th>Times</th>
      <th>Average</th>
      <th>Best</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.position %></td>
        <td><%= result.name %></td>
        <td><%= result.country %></td>
        <td><%= [ result.t1, result.t2, result.t3, result.t4, result.t5 ].join(", ") %></td>
        <td><%= result.average %></td>
        <td><%= result.best %></td>
      </tr>
    <% end %>
  </tbody>
</table>
