<% content_for(:back_button) do %>
 <%= link_to "Back", competition_events_path(@round.competition_id), data: { icon: "back" } %>
<% end %>

<% content_for(:title) do %>
  Loading...
<% end %>

<% content_for(:navbar) do %>
  <ul>
    <li><%= link_to "Events",      competition_events_path(@round.competition_id),      data: { icon: "bars"  }, class: "ui-btn-active" %></li>
    <li><%= link_to "Competitors", competition_competitors_path(@round.competition_id), data: { icon: "user"  } %></li>
    <li><%= link_to "Schedule",    competition_schedule_path(@round.competition_id),    data: { icon: "clock" } %></li>
  </ul>
<% end %>

<% content_for(:desktop_version_url) { "https://www.cubecomps.com/live.php?cid=#{@round.competition_id}&cat=#{@round.event_id}&rnd=#{@round.id}&desktop=1" } %>

<div data-role="popup" id="landscape-mode-hint">
  <div data-role="header">
    <h1>Did you know?</h1>
  </div>
  <div role="main" class="ui-content">
    <p>Depending on your screen resolution, you might be able to see more columns if you turn your device into landscape mode.</p>
    <a href="#" class="close ui-btn ui-corner-all" data-rel="back">OK, I got it</a>
  </div>
</div>

<script id="result-template" type="text/x-handlebars-template">
  <%= render "row" %>
</script>

<script id="results-template" type="text/x-handlebars-template">
  <table id="results" class="results-table table-stripe" data-role="table" data-mode="columntoggle">
    <thead>
      <tr>
        <th class="number">#</th>
        <th>Name</th>
        <th data-priority="3">Country</th>
        {{#if hasT1}}
          <th class="number" data-priority="2">T1</th>
        {{/if}}
        {{#if hasT2}}
          <th class="number" data-priority="2">T2</th>
        {{/if}}
        {{#if hasT3}}
          <th class="number" data-priority="2">T3</th>
        {{/if}}
        {{#if hasT4}}
          <th class="number" data-priority="2">T4</th>
        {{/if}}
        {{#if hasT5}}
          <th class="number" data-priority="2">T5</th>
        {{/if}}
        {{#if hasAverage}}
          <th class="number" data-priority="1">Average</th>
        {{/if}}
        {{#if hasMean}}
          <th class="number" data-priority="1">Mean</th>
        {{/if}}
        {{#if hasBest}}
          <th class="number" data-priority="1">Best</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</script>

<script id="round-template" type="text/x-handlebars-template">
  <h2>{{event_name}} - {{name}}</h2>

  <div class="results-region">
  </div>

  <div class="more-info-region">
  </div>
</script>

<script id="more-info-template" type="text/x-handlebars-template">
  <%= render "more_info" %>
</script>

<div id="round-results-region" data-competition-id="<%= @round.competition_id %>" data-event-id="<%= @round.event_id %>" data-round-id="<%= @round.id %>">
  <div style="height: 2000px"></div>
</div>
