<% content_for(:title) { "Results" } %>

<table data-role="table" data-mode="reflow" class="ui-responsive table-stripe">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Average</th>
      <th>Best</th>
    </tr>
  </thead>
  <tbody>
    <% @round.results.each do |result| %>
      <tr>
        <td><%= result.position %></td>
        <td><%= result.name %></td>
        <td>
          <%= result.average %>
          <% if result.average_record.present? %>
            (<%= result.average_record %>)
          <% end %>
        </td>
        <td>
          <%= result.best %>
          <% if result.best_record.present? %>
            (<%= result.best_record %>)
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
