<div id="event-<%= event.id %>" data-role="collapsible">
  <h2><%= event.name %></h2>
  <ul data-role="listview">
    <% event.rounds.each do |round| %>
      <li>
        <% if round.setup? %>
          <%= link_to competition_event_round_results_path(competition, event, round), data: { ajax: false } do %>
            <%= round.name %>
            <%= round_label(round) %>
          <% end %>
        <% else %>
          <em class="muted"><%= round.name %></em>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
