<% content_for(:back_button) do %>
  <%= link_to "Back", competitions_path, data: { ajax: false, icon: "back" } %>
<% end %>

<% content_for(:title) do %>
  <% ccm_cache [@competition, "name"], @competition.id, expires_in: 1.hour do %>
    <%= @competition.name.html_safe %>
  <% end %>
<% end %>

<% content_for(:navbar) do %>
  <ul>
    <li><%= link_to "Events",      competition_events_path(@competition),      data: { ajax: false, icon: "bars"  }, class: "ui-btn-active" %></li>
    <li><%= link_to "Competitors", competition_competitors_path(@competition), data: { ajax: false, icon: "user"  } %></li>
    <li><%= link_to "Schedule",    competition_schedule_path(@competition),    data: { ajax: false, icon: "clock" } %></li>
  </ul>
<% end %>

<% content_for(:desktop_version_url) { "http://www.cubecomps.com/live.php?cid=#{@competition.id}&desktop=1" } %>

<% ccm_cache [@competition, "events"], @competition.id do %>
  <% if @competition.events.any? %>
    <%= content_tag :div, data: { role: "collapsible-set", inset: false, generated_at: Time.now.to_s(:db) } do %>
      <% render partial: "event", collection: @competition.events, locals: { competition: @competition } %>
    <% end %>
  <% else %>
    <p>No available events (yet!)</p>
  <% end %>
<% end %>
