<tr>
  <td class="number"><%= result.position %></td>
  <td><%= result.round %></td>
  <% (1..5).each do |i| %>
    <% if results.send("t#{i}?") %>
      <td class="number"><%= result.send("t#{i}") %></td>
    <% end %>
  <% end %>
  <% if results.mean? %>
    <td class="number">
      <% if result.mean_record.present? %>
        (<%= result.mean_record %>)
      <% end %>
      <%= result.mean %>
    </td>
  <% end %>
  <% if results.average? %>
    <td class="number">
      <% if result.average_record.present? %>
        (<%= result.average_record %>)
      <% end %>
      <%= result.average %>
    </td>
  <% end %>
  <% if results.best? %>
    <td class="number">
      <% if result.best_record.present? %>
        (<%= result.best_record %>)
      <% end %>
      <%= result.best %>
    </td>
  <% end %>
</tr>
