<% content_for(:back_button) do %>
  <%= link_to "Back", competitions_path, data: { ajax: false, icon: "back" } %>
<% end %>

<% content_for(:title) do %>
  <% cache [@competition, "name"], expires_in: 1.hour, race_condition_ttl: 10 do %>
    <%= @competition.name.html_safe %>
  <% end %>
<% end %>

<% content_for(:navbar) do %>
  <ul>
    <li><%= link_to "Events",      competition_events_path(@competition),      data: { ajax: false, icon: "bars"  } %></li>
    <li><%= link_to "Competitors", competition_competitors_path(@competition), data: { ajax: false, icon: "user"  }, class: "ui-btn-active" %></li>
    <li><%= link_to "Schedule",    competition_schedule_path(@competition),    data: { ajax: false, icon: "clock" } %></li>
  </ul>
<% end %>

<% content_for(:desktop_version_url) { "http://www.cubecomps.com/live.php?cid=#{@competition.id}&desktop=1" } %>

<% cache [@competition, "competitors"], expires_in: 5.minutes, race_condition_ttl: 10 do %>
  <% if @competition.competitors.any? %>
    <%= content_tag :ul, data: { role: "listview", filter: true, generated_at: Time.now.to_s(:db) } do %>
      <% @competition.competitors.each do |competitor| %>
        <li><%= link_to competitor.name, competition_competitor_path(@competition, competitor), data: { ajax: false } %></li>
      <% end %>
    <% end %>
  <% else %>
    <p>No available competitors (yet!)</p>
  <% end %>
<% end %>
