<% content_for(:back_button) do %>
  <%= link_to "Back", competitions_path, data: { icon: "back" } %>
<% end %>

<% content_for(:title) do %>
  Loading...
<% end %>

<% content_for(:navbar) do %>
  <ul>
    <li><%= link_to "Events",      competition_events_path(@competition),      data: { icon: "bars"  } %></li>
    <li><%= link_to "Competitors", competition_competitors_path(@competition), data: { icon: "user"  }, class: "ui-btn-active" %></li>
    <li><%= link_to "Schedule",    competition_schedule_path(@competition),    data: { icon: "clock" } %></li>
  </ul>
<% end %>

<% content_for(:desktop_version_url) { "http://www.cubecomps.com/live.php?cid=#{@competition.id}&desktop=1" } %>

<script id="competitor-template" type="text/x-handlebars-template">
  <a href="/competitions/{{competition_id}}/competitors/{{id}}">{{name}}</a>
</script>

<div id="competitors-region" data-competition-id="<%= @competition.id %>">
  <div style="height: 2000px"></div>
</div>
