<% content_for(:back_button) do %>
  <%= link_to "Back", competition_competitors_path(@competitor.competition_id), data: { ajax: false, icon: "back" } %>
<% end %>

<% content_for(:title) do %>
  <% cache [@competitor, "name"] do %>
    <%= @competitor.name %>
  <% end %>
<% end %>

<% content_for(:navbar) do %>
  <ul>
    <li><%= link_to "Events",      competition_events_path(@competitor.competition_id),      data: { ajax: false, icon: "bars"  } %></li>
    <li><%= link_to "Competitors", competition_competitors_path(@competitor.competition_id), data: { ajax: false, icon: "user"  }, class: "ui-btn-active" %></li>
    <li><%= link_to "Schedule",    competition_schedule_path(@competitor.competition_id),    data: { ajax: false, icon: "clock" } %></li>
  </ul>
<% end %>

<% content_for(:desktop_version_url) { "http://www.cubecomps.com/live.php?cid=#{@competitor.competition_id}&compid=#{@competitor.id}&desktop=1" } %>

<div data-role="popup" id="landscape-mode-hint">
  <div data-role="header">
    <h1>Did you know?</h1>
  </div>
  <div role="main" class="ui-content">
    <p>Depending on your screen resolution, you might be able to see more columns if you turn your device into landscape mode.</p>
    <a href="#" class="close ui-btn ui-corner-all" data-rel="back">OK, I got it</a>
  </div>
</div>

<% cache [@competitor, "results"], expires_in: 5.minutes, race_condition_ttl: 10 do %>
  <% @competitor.results.by_event.each do |event, results| %>
    <h2><%= event %></h2>

    <%= content_tag :table, class: "results-table table-stripe", data: { role: "table", mode: "columntoggle", generated_at: Time.now.to_s(:db) } do %>
      <thead>
        <tr>
          <th class="number">#</th>
          <th>Round</th>
          <% (1..5).each do |i| %>
            <% if results.send("t#{i}?") %>
              <th class="number" data-priority="2">T<%= i %></th>
            <% end %>
          <% end %>
          <% if results.mean? %>
            <th class="number" data-priority="1">Mean</th>
          <% end %>
          <% if results.average? %>
            <th class="number" data-priority="1">Average</th>
          <% end %>
          <% if results.best? %>
            <th class="number" data-priority="1">Best</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% results.each_with_index do |result, idx| %>
          <%= render partial: "result", object: result, as: :result, locals: { results: results, event: event, result_counter: idx } %>
        <% end %>
      </tbody>
    <% end %>

    <% results.each_with_index do |result, idx| %>
      <%= render partial: "more_info", object: result, as: :result, locals: { results: results, event: event, result_counter: idx } %>
    <% end %>
  <% end %>

  <% if @competitor.results.empty? %>
    <p>No available results for <%= @competitor.name %> (yet!)</p>
  <% end %>
<% end %>
