<% content_for(:back_button) do %>
  <%= link_to "Back", competition_competitors_path(@competitor.competition_id), data: { icon: "back" } %>
<% end %>

<% content_for(:title) do %>
  <% cache [@competitor, "name"] do %>
    <%= @competitor.name %>
  <% end %>
<% end %>

<% content_for(:navbar) do %>
  <ul>
    <li><%= link_to "Categories",  competition_categories_path(@competitor.competition_id),  data: { ajax: false } %></li>
    <li><%= link_to "Competitors", competition_competitors_path(@competitor.competition_id), data: { ajax: false }, class: "ui-btn-active" %></li>
    <li><%= link_to "Schedule",    competition_schedule_path(@competitor.competition_id),    data: { ajax: false } %></li>
  </ul>
<% end %>

<% content_for(:desktop_version_url) { "http://www.cubecomps.com/live.php?cid=#{@competitor.competition_id}&compid=#{@competitor.id}&desktop=1" } %>

<% cache [@competitor, "results"], expires_in: 5.minutes, race_condition_ttl: 10 do %>
  <% @competitor.results.by_category.each do |category, results| %>
    <h2><%= category %></h2>

    <%= content_tag :table, class: "results-table table-stripe", data: { role: "table", mode: "columntoggle", generated_at: Time.now.to_s(:db) } do %>
      <thead>
        <tr>
          <th class="number">#</th>
          <th>Round</th>
          <% (1..5).each do |i| %>
            <% if results.send("t#{i}?") %>
              <th class="number" data-priority="2">T<%= i %></th>
            <% end %>
          <% end %>
          <% if results.mean? %>
            <th class="number" data-priority="1">Mean</th>
          <% end %>
          <% if results.average? %>
            <th class="number" data-priority="1">Average</th>
          <% end %>
          <% if results.best? %>
            <th class="number" data-priority="1">Best</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% results.each do |result| %>
          <%= render partial: "result", object: result, as: :result, locals: { results: results } %>
        <% end %>
      </tbody>
    <% end %>
  <% end %>

  <% if @competitor.results.empty? %>
    <p>No available results for <%= @competitor.name %> (yet!)</p>
  <% end %>
<% end %>
