<% content_for(:back_button) do %>
  <%= link_to "Back", competitions_path, data: { icon: "back" } %>
<% end %>

<% content_for(:title) do %>
  <% cache [@competition, "name"] do %>
    <%= @competition.name %>
  <% end %>
<% end %>

<% content_for(:navbar) do %>
  <ul>
    <li><%= link_to "Categories",  competition_categories_path(@competition),  data: { ajax: false, icon: "bars"  }, class: "ui-btn-active" %></li>
    <li><%= link_to "Competitors", competition_competitors_path(@competition), data: { ajax: false, icon: "user"  } %></li>
    <li><%= link_to "Schedule",    competition_schedule_path(@competition),    data: { ajax: false, icon: "clock" } %></li>
  </ul>
<% end %>

<% content_for(:desktop_version_url) { "http://www.cubecomps.com/live.php?cid=#{@competition.id}&desktop=1" } %>

<% cache [@competition, "categories"], expires_in: 5.minutes, race_condition_ttl: 10 do %>
  <% if @competition.categories.any? %>
    <%= content_tag :div, data: { role: "collapsible-set", inset: false, generated_at: Time.now.to_s(:db) } do %>
      <% render partial: "category", collection: @competition.categories, locals: { competition: @competition } %>
    <% end %>
  <% else %>
    <p>No available categories (yet!)</p>
  <% end %>
<% end %>
