<!DOCTYPE html>
<html>
<head>
  <title>CubecompsMobile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css", media: "all" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div data-role="page">
  <div data-role="header" data-theme="b">
    <%= yield(:back_button) %>
    <h1><%= yield(:title) %></h1>

    <% if content_for?(:navbar) %>
      <div data-role="navbar">
        <%= yield(:navbar) %>
      </div>
    <% end %>
  </div>

  <div data-role="content">
    <%= yield %>
  </div>

  <div data-role="footer" data-theme="b">
    <h4>cubecomps</h4>

    <% if params[:footer] %>
      <div data-role="navbar">
        <ul>
          <% if content_for?(:desktop_version_url) %>
            <li><%= link_to "Desktop version", yield(:desktop_version_url), data: { ajax: false } %></li>
          <% end %>
          <li><%= link_to "Report a bug", "https://github.com/ciscou/cubecomps-mobile/issues", data: { ajax: false } %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>

</body>
</html>
