<!DOCTYPE html>
<html>
<head>
  <title>CubecompsMobile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css", media: "all" %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div data-role="page">
  <div data-role="header">
    <%= yield(:back_button) %>
    <h1><%= yield(:title) %></h1>
  </div>

  <% if content_for?(:navbar) %>
    <div data-role="navbar">
      <%= yield(:navbar) %>
    </div>
  <% end %>

  <div data-role="content">
    <%= yield %>
  </div>

  <div data-role="footer">
    <h4>Cube Competitions</h4>
  </div>
</div>

</body>
</html>
